.navbar-brand .navbar-item + .navbar-item {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  max-height: calc(100vh - 3.25rem);
}

@media screen and (max-width: 768px) {
  .navbar-brand .navbar-item + .navbar-item {
    padding-left: 0;
    padding-right: 0;
  }

  .algolia-autocomplete .ds-dropdown-menu {
    min-width: calc(100vw - 2.75rem) !important;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-brand {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
  }

  .navbar-menu {
    -ms-flex-positive: 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
  }
}

#search-input {
  color: #333;
  font-family: inherit;
  font-size:  0.95rem;
  width: 150px;
  border: 1px solid #dbdbdb;
  border-radius: 0.1em;
  line-height:  1.5;
  padding: 0 0.25em;
}

@media screen and (min-width: 769px) {
  #search-input {
    width: 200px;
  }
}
